.main {
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
}

.btn_box {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;

}

.heading {
    opacity: 0.7;
    font-weight: 500;
}

.para {
    opacity: 0.7;
    margin-bottom: 30px;
    line-height: 25px;
    font-size: 16px;
}

.logo {
    width: 250px;
    margin-bottom: -20px;
}